<?xml version="1.0"?>
<!DOCTYPE wallpapers SYSTEM "gnome-wp-list.dtd">
<wallpapers>
  <wallpaper deleted="false">
    <name>{{ background_name }}</name>
    <filename>{{ background_path }}</filename>
    <options>zoom</options>
  </wallpaper>
</wallpapers>
