Building configuration...

Current configuration : 2677 bytes
!
! Last configuration change at 14:47:56 UTC Tue Sep 16 2025 by admin
! NVRAM config last updated at 14:47:59 UTC Tue Sep 16 2025 by admin
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname cisco-1
!
boot-start-marker
boot-end-marker
!
!
username admin privilege 15 secret 5 $1$K0S3$ARepgyWkN9mL.yLrDxS5c/
aaa new-model
!
!
aaa authentication attempts login 12
aaa authentication login default local
aaa authorization console
aaa authorization exec default local if-authenticated 
!
!
!
!
!
!
aaa session-id common
system mtu routing 1500
!
!
ip domain-name leigh.delamere
ip name-server 10.9.9.1
!
!
!
!
!
!
!
crypto pki trustpoint TP-self-signed-3344380544
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-3344380544
 revocation-check none
 rsakeypair TP-self-signed-3344380544
!
!
crypto pki certificate chain TP-self-signed-3344380544
spanning-tree mode pvst
spanning-tree extend system-id
!
!
!
!
vlan internal allocation policy ascending
!
!
! 
!
!
!
!
!
!
!
!
interface GigabitEthernet0/1
 switchport access vlan 8
!
interface GigabitEthernet0/2
 switchport access vlan 7
!
interface GigabitEthernet0/3
 switchport access vlan 7
!
interface GigabitEthernet0/4
 switchport access vlan 7
!
interface GigabitEthernet0/5
 switchport access vlan 6
!
interface GigabitEthernet0/6
 switchport access vlan 7
!
interface GigabitEthernet0/7
 switchport access vlan 9
!
interface GigabitEthernet0/8
 switchport access vlan 9
!
interface GigabitEthernet0/9
 switchport trunk encapsulation dot1q
 switchport mode trunk
!
interface GigabitEthernet0/10
 switchport trunk encapsulation dot1q
 switchport mode trunk
!
interface Vlan1
 no ip address
!
interface Vlan6
 description wan
 no ip address
!
interface Vlan7
 description client_lan
 no ip address
!
interface Vlan8
 description guest_lan
 no ip address
!
interface Vlan9
 description core_lan
 ip address 10.9.9.5 255.255.255.0
!
ip default-gateway 10.9.9.1
ip forward-protocol nd
no ip http server
no ip http secure-server
!
ip ssh maxstartups 4
ip ssh authentication-retries 5
ip ssh version 2
ip ssh dh min size 2048
ip ssh pubkey-chain
  username admin
   key-hash ssh-rsa EC63309886E1F7755561926CA11E5B01 freddie@leigh.delamere
no ip ssh server authenticate user keyboard
no ip ssh server authenticate user password
ip ssh server algorithm mac hmac-sha1
ip ssh server algorithm encryption aes256-ctr
!
!
ip sla enable reaction-alerts
!
!
!
!
line con 0
line vty 0 4
 privilege level 15
 transport input ssh
line vty 5 15
!
ntp server 10.9.9.1 prefer
ntp server 0.pool.ntp.org
ntp server 2.pool.ntp.org
!
end
