[Unit]
Description=Proxmox backup
Requires=network-online.target
After=multi-user.target network-online.target
StartLimitBurst=5
StartLimitIntervalSec=200
# Will not restart any more after StartLimitBurst times,
# because (StartLimitBurst * RestartSec) < StartLimitInterval

[Service]
Type=oneshot
RemainAfterExit=false
Restart=on-failure
RestartSec=30
LoadCredential={{ proxmox_backup.passwd_file }}:{{ service_path }}/{{ proxmox_backup.passwd_file }}
WorkingDirectory=%E/proxmox-backup
EnvironmentFile=%E/proxmox-backup/proxmox-backup.env
ExecStart=/bin/systemd-inhibit --why=backup %E/proxmox-backup/proxmox-backup.sh

[Install]
WantedBy=multi-user.target
