Defaults!/usr/bin/clevis-encrypt-tpm2 !use_pty
Defaults!/usr/bin/clevis-decrypt-tpm2 !use_pty
{{ user }} ALL=(tss) NOPASSWD:/usr/bin/clevis-encrypt-tpm2
{{ user }} ALL=(tss) NOPASSWD:/usr/bin/clevis-decrypt-tpm2
