---
- set_fact:
    mgmt:
      vlan: "{{ layer2.common.mgmt_vlan.id }}"
      address: "{{ layer2[inventory_hostname].address }}"
      network: "{{ layer2.common.mgmt_vlan.network }}"
      mask: "{{ layer2.common.mgmt_vlan.mask }}"
      gateway: "{{ layer2.common.mgmt_vlan.gateway }}"
      nameservers: "{{ layer2.common.mgmt_vlan.nameservers }}"
      domain: "{{ layer2.common.mgmt_vlan.domain }}"
    vlans: "{{ layer2.common.vlans }}"
    ports: "{{ layer2[inventory_hostname].ports }}"
  tags: always

- import_tasks: control_node.yml
  delegate_to: localhost
  tags:
    - control_node
    - never

- import_tasks: backup.yml
  tags:
    - backup
    - never

- when: ansible_run_tags | reject('eq', 'control_node') | reject('eq', 'backup') | reject('eq', 'never') | length > 0
  block:  # Don't run if the only tags specified are control_node/backup/never

    - name: automatically reload in 5 minutes
      cisco.ios.ios_command:
        commands:
          - command: reload in 5
            prompt: '[confirm]'
            answer: "\r"
      timeout: 15
      tags:
        - always
        - auto_reload

    - block:
        - import_tasks: base.yml
          tags: base

        - import_tasks: switching.yml
          tags: switching

      rescue:
        - name: abort writing config
          set_fact:
            abort_cisco_write_config: true

      always:
        - name: cancel reload
          cisco.ios.ios_command:
            commands:
              - reload cancel
          tags:
            - always
            - auto_reload
