---
- set_fact:
    brother_printer:
      mac_address: 58:cd:c9:4c:d5:a6
      ip_address: "{{ ip_address }}"
      default_password: 70Gmc%iR
      model: DCP-L3520CDW
      usb_uri: "usb://Brother/DCP-L3520CDW%20series?serial=E82389F4N546650"  # discovered with /usr/lib/cups/backend/usb
      tcp_uri: "socket://{{ ip_address }}:9100"
    installer_created_printer_name: DCPL3520CDW
  vars:
    ip_address: "10.7.7.166"

- import_tasks: drivers.yml
  tags: drivers

- name: remove printer created by installer
  shell:
    cmd: lpadmin -x {{ installer_created_printer_name }}
  register: remove_default_printer
  changed_when: remove_default_printer.rc == 0
  failed_when: remove_default_printer.rc != 0 and "does not exist" not in remove_default_printer.stderr

- name: check printers
  shell:
    cmd: lpstat -s
  register: lpstat
  changed_when: false
  failed_when: lpstat.rc != 0 and "no system default destination" not in lpstat.stdout

- name: add printer  # use lpoptions -l to see all options
  shell:
    cmd: |
      lpstat -v '{{ name }}' || \
      lpadmin -p '{{ name }}' -D '{{ desc }}' -E -v {{ device_uri }} -m {{ model }} \
        -u allow:all \
        -o printer-is-shared=false \
        -o BRMonoColor={{ item.colour_mode }} \
        -o Duplex=DuplexNoTumble
  register: add_printer
  changed_when: not ('device for' in add_printer.stdout)
  vars:
    name: "brother_{{ item.name }}"
    desc: "{{ brother_printer.model }} ({{ item.name }})"
    model: Brother/brother_dcpl3520cdw_printer_en.ppd
    device_uri: "{{ brother_printer.usb_uri if ansible_hostname == 'harriet-desktop' else brother_printer.tcp_uri }}"
    ppd_file: /usr/share/cups/model/Brother/brother_dcpl3520cdw_printer_en.ppd
  loop:
    - name: colour
      colour_mode: FullColor
    - name: monochrome
      colour_mode: Mono

- name: set default printer
  when: ansible_hostname in [ 'harriet-desktop', 'harriet-laptop' ]
  shell:
    cmd: |
      lpstat -d | grep {{ default_printer }} || \
      lpadmin -d {{ default_printer }}
  register: set_default_printer
  changed_when: not 'system default destination' in set_default_printer.stdout
  vars:
    default_printer: brother_monochrome

- name: register network scanner
  shell:
    cmd: brsaneconfig5 -a name=Brother model={{ brother_printer.model }} ip={{ brother_printer.ip_address }}
  register: add_network_scanner
  changed_when: not ('is already registered' in add_network_scanner.stdout)
# https://support.brother.com/g/b/faqlist.aspx?c=gb&lang=en&prod=dcpl3520cdw_eu_as&ftype3=100258
