---
- set_fact:
    brother_driver_urls:
      driver: https://download.brother.com/welcome/dlf105769/dcpl3520cdwpdrv-3.5.1-1.i386.rpm
      scanner: https://download.brother.com/welcome/dlf104036/brscan5-1.5.1-0.x86_64.rpm
      scan_key_tool: https://download.brother.com/welcome/dlf006650/brscan-skey-0.3.2-0.x86_64.rpm
      udev_rule: https://download.brother.com/welcome/dlf103900/brother-udev-rule-type1-1.0.2-0.noarch.rpm

- name: install libgtk and document scanner
  package:
    name:
      - gtk2-devel
      - simple-scan

- name: download drivers
  get_url:
    url: "{{ item }}"
    dest: "/tmp/{{ item | basename }}"
  register: print_driver_download
  loop: "{{ brother_driver_urls | dict2items | map(attribute='value') }}"

- name: install drivers
  shell:
    cmd: rpm -ihv {{ item }}
  register: install_driver
  changed_when: install_driver.rc == 0
  failed_when: install_driver.rc != 0 and "is already installed" not in install_driver.stderr
  loop: "{{ print_driver_download.results | map(attribute='dest') }}"
