---
# If the APs do not appear in the controller to be adopted, it's likely that
# they can't reach the default set-inform address.
# 1. Find the AP IP address from DHCP
# 2. SSH as ubnt/ubnt:
#     ssh -v -oHostKeyAlgorithms=+ssh-rsa -oPubkeyAcceptedAlgorithms=+ssh-rsa ubnt@10.1.1.125
# 3. Update the set-inform address:
#     set-inform http://unifi:8080/inform

services:
  unifi:
    restart: always
    container_name: unifi
    depends_on:
      - unifi-db
    image: lscr.io/linuxserver/unifi-network-application:latest
    hostname: unifi
    ports:
      #- "{{ ip_colon }}443:8443"
      - "{{ ip_colon }}8443:8443"
      - "{{ ip_colon }}8080:8080"
      - "{{ ip_colon }}3478:3478/udp"
      - "{{ ip_colon }}10001:10001/udp"
      #- "{{ ip_colon }}1900:1900/udp"  # optional
      - "{{ ip_colon }}8843:8843"      # optional
      - "{{ ip_colon }}8880:8880"      # optional
      - "{{ ip_colon }}6789:6789"      # optional
      - "{{ ip_colon }}5514:5514/udp"  # optional
    volumes:
      # variables populated by systemd. If running outside systemd, use equivalent folders in current dir
      - ${CONFIGURATION_DIRECTORY:-.}/unifi-entrypoint.sh:/unifi-entrypoint.sh:ro
      - ${CONFIGURATION_DIRECTORY:-.}/config/:/config/
      - ${CONFIGURATION_DIRECTORY:-.}/root/:/root/
      - ${CREDENTIALS_DIRECTORY:-.}/unifi_db_passwd:/unifi_db_passwd:ro
    environment:
      TZ: "Europe/London"
      MEM_LIMIT: 1024   # optional
      MEM_STARTUP: 1024 # optional
      MONGO_USER: unifi
      MONGO_PASSWORD_FILE: /unifi_db_passwd
      MONGO_HOST: unifi-db
      MONGO_PORT: 27017
      MONGO_DBNAME: unifi
      MONGO_AUTHSOURCE: admin
    entrypoint: /unifi-entrypoint.sh
    networks:
      - unifi
      - caddy
    labels:
      caddy: sink.dvlp.casa
      caddy.tls: /certs/live/dvlp.casa/fullchain.pem /certs/live/dvlp.casa/privkey.pem
      caddy.reverse_proxy: "{% raw %}{{upstreams 8080}}{% endraw %}"

  unifi-db:
    restart: unless-stopped
    image: mongo:4.4
    container_name: unifi-db
    hostname: unifi-db
    volumes:
      - ${CONFIGURATION_DIRECTORY:-.}/unifi-db-entrypoint.sh:/unifi-db-entrypoint.sh:ro
      - ${CONFIGURATION_DIRECTORY:-.}/db:/data/db
      - ${CONFIGURATION_DIRECTORY:-.}/configdb:/data/configdb
      - ${CREDENTIALS_DIRECTORY:-.}/unifi_db_passwd:/unifi_db_passwd:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: unifi
      MONGO_INITDB_ROOT_PASSWORD_FILE: /unifi_db_passwd
    user: root
    entrypoint: /unifi-db-entrypoint.sh
    command: mongod
    networks:
      - unifi

networks:
  unifi:
    external: true
  caddy:
    external: true
