---
- name: Install guest agent  # also needs to be enabled in proxmox
  package:
    name: qemu-guest-agent

- name: create secrets folder
  file:
    path: /secrets/
    state: directory
    owner: root
    group: root
    mode: "0700"
    # setype: systemd_passwd_var_run_t  # does not propagate
  register: create_secrets_folder

- name: set selinux label on secrets folder
  shell:
    cmd: |
      semanage fcontext -a -t systemd_passwd_var_run_t "/secrets(/.*)?"
      restorecon -rv /secrets
  when: create_secrets_folder.changed

- import_tasks: network.yml
  tags: network
