---
- name: configure static ip address
  community.general.nmcli:
    conn_name: core_lan
    ifname: "{{ ansible_facts.default_ipv4.interface }}"
    type: ethernet
    method4: manual
    ip4: "{{ network.addresses }}"
    gw4: "{{ network.gateway4 }}"
    dns4: "{{ network.nameservers.addresses }}"
    dns4_search: "{{ [network.search_suffix] }}"
    method6: disabled
    state: present
    autoconnect: yes
