[Unit]
Description=x11vnc server
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/x11vnc -auth guess -noxdamage -repeat -rfbauth {{ vnc_hashed_passwd_path }} -rfbport 5900 -shared

[Install]
WantedBy=multi-user.target
