[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file://{{ wallpaper_path }}'
picture-uri-dark='file://{{ wallpaper_path }}'
primary-color='#000000000000'
secondary-color='#000000000000'
