---
- name: test docker binary
  stat:
    path: /usr/bin/docker
  register: docker

- when: not docker.stat.exists
  block:
    - name: add docker gpg apt key
      rpm_key:
        key: https://download.docker.com/linux/fedora/gpg
        state: present

    - set_fact:
        docker_packages:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
          - python3-docker

    - name: add docker repository
      yum_repository:
        name: docker-ce
        description: "Docker CE Stable - $basearch"
        baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
        includepkgs: "{{ docker_packages }}"
        state: present

    - name: install docker
      dnf:
        name: "{{ docker_packages }}"
        state: latest
        update_cache: true

    - name: add ansible_user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: true

- name: start docker
  service:
    name: docker
    enabled: true
    state: started
